div.content {
    background-color: white;
    margin-right: 40px;
    margin-left: 40px;
}

#advice {
    background-color: white;
    margin-right: 40px;
    margin-left: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
}

h1, h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#title {
    margin: 20px 0px;
}

body {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    color: rgb(03, 03, 03);
}

table.blogcalendar th {
    text-align  : right;
    font-weight : bold;
}

table.blogcalendar th.left {
    text-align : left;
}

table.blogcalendar tr td {
    text-align : right;
}

table.blogindex td.date {
    text-align: left ;
    width:10em;
}

table.choices tr td {
    vertical-align : top;
}

table.outlined {
    border-collapse: collapse;
}

table.workshops td.link {
    width: 50%;
    text-align: left;
}

table.workshops td.spacer {
   max-width: 100%;
   text-align: center;
}

table.workshops td.date {
    width: 50%;
    text-align: right;
}

table {
    margin-bottom: 15px;
}

table th, table td {
    padding: 5px 10px;
}

table > thead > .header {
    background: transparent;
}

table > thead > tr > td, table > thead > tr > th,
table > tbody > tr > td, table > tbody > tr > th,
table > tfoot > tr > td, table > tfoot > tr > th {
    border: 1px solid #DDD;
}

table > thead > tr > th,
table > thead > tr > td {
    border-bottom-width: 2px;
}

table tbody > tr:nth-of-type(2n+1) {
    background-color: #F9F9F9;
}

#header-text {
    font-size:20pt;
    margin:0;
}

#home-options {
    background:#F6F6F6;
    border-top:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
    padding:20px 0;
    margin-bottom:20px;
}

